

/* .btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
} */

/* Add a background color on hover */
/* .btn-group button:hover {
  background-color: #3e8e41;
} */
.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}
ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.topleft {
  position: absolute;
  top: 90px;
  left: 356px;
  font-size
}
.orignal {
  position: absolute;
  top: 90px;
  left: 556px;
  font-size
}
.topleft01{
  position: absolute;
  top: 100px;
  left: 646px;
  font-size
}









.topleft02{
  position: absolute;
  top: 100px;
  left: 890px;
  font-size
}







.topleft03{
  position: absolute;
  top: 100px;
  left: 1096px;
  font-size
}
