

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  size:40;
  font-size: 60px;

}

.top-left {
  position: absolute;
  top: 50px;
  left: 16px;
  font-size: 60px;

}
.top-left01 {
  position: absolute;
  top: 67px;
  left: 16px;
  font-size: 60px;

}
.top-left02 {
  position: absolute;
  top: 27px;
  left: 45px;
  font-size: 60px;

}

.top-left03 {
  position: absolute;
  top: 27px;
  left: 46px;
  font-size: 60px;

}
.top-left04 {
  position: absolute;
  bottom: 119px;
  left: 17px;
  font-size: 60px;

}

.top-left07 {
  position: absolute;
  bottom: 99px;
  left: 17px;
  font-size: 60px;

}
.top-left08 {
  position: absolute;
  bottom: 99px;
  left: 29px;
  font-size: 60px;

}

.top-left09 {
  position: absolute;
  bottom: 99px;
  left: 46px;
  font-size: 60px;

}

.top-left05 {
  position: absolute;
  bottom: 119px;
  left: 30px;
  font-size: 60px;

}
.top-left06 {
  position: absolute;
  bottom: 119px;
  left: 46px;
  font-size: 60px;

}
.top-left10 {
  position: absolute;
  bottom: 590px;
  left: 60px;
  font-size: 60px;

}

.top-right {
  position: absolute;
  top: 9px;
  left: 16px;
  font-size: 60px;
}
.top-right0 {
  position: absolute;
  top: 9px;
  right: 966px;
  font-size: 60px;

}
.top-right02 {
  position: absolute;
  top: 9px;
  left:129px;
  font-size: 60px;

}


.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 60px;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
