.center5{
margin:auto;
width:400px;
float: right;
position: absolute;
top:59px;
right: 89px;
}

hr.new1 {
  border-top: 1px solid blue;
}




.topleft55 {
  position: absolute;
  bottom: 320px;
  left: 86px;
  font-size: 18px;
}

.topleft15 {
  position: absolute;
  bottom: 320px;
  left: 580px;
  font-size: 18px;
}

.topleft45 {
  position: absolute;
  bottom: 37px;
  right: 600px;
  font-size: 18px
  border:1px solid lightgrey;
}

.topleft455 {
  position: absolute;
  bottom: 88px;
  left: 399px;
  font-size: 18px;
}

.topleft401 {
  position: absolute;
  bottom: -209px;
  left: 74px;
  font-size: 18px;
}

.topleft40 {
  position: absolute;
  bottom: -199px;
  left: 390px;
  font-size: 18px;
}
.topleft140 {
  position: absolute;
  bottom: 49px;
  left: 400px;
  font-size: 18px;
}

.topleft040 {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
}





.main {
  width: 290px;
  height: 90px;
  border: 1px solid white;
  display: flex;
  margin-left: 995px;
  margin-top: -295px;
}
/* .topleft11 {
  position: absolute;
  top: 90px;
  left: 16px;
  font-size: 18px;
} */
.
.box_long {
  /* margin: :-50px; */
  flex-grow: 30;
  width: 599%;
  height: 30%;
  padding: 1%;
  justify-content: center;
  margin: 42px;
  background-color: white;
  border: solid 1px black;
}

.box_long1 {
   margin: :-50px;
   width: 75%;
  /* float: left: 80px; */
   flex-grow: 30;
  margin-bottom: 5px;
  position: absolute;
  bottom: 250px;
  left: 90px;
  /* margin-left: 90px; */
  /* margin-bottom: 5px; */

  /* height: 5%; */
  padding: 2%;
  /* justify-content: center; */
  /* left: 90px; */
  /* color: blue; */
 background-color: lightgrey;
   border: solid 1px lightgrey;
}

.box_long111 {
   margin: :-50px;
   width: 60%;
  /* float: left: 80px; */
   flex-grow: 30;
  margin-bottom: 5px;
  position: absolute;
  bottom: 250px;
  left: 220px;
  /* margin-left: 90px; */
  /* margin-bottom: 5px; */

  /* height: 5%; */
  padding: 2%;
  /* justify-content: center; */
  /* left: 90px; */
  color: blue;
 /* background-color: lightgrey; */
   border: solid 1px lightgrey;
}

.box_long15 {
   margin: :-50px;
   width: 45%;
  flex-grow: 30;
  margin-bottom: 5px;
  position: absolute;
  bottom: 290px;
  left: 290px;
  padding: -30%;
  background-color: none;
  border:  1px white;
}




.box_long155 {
   margin: :-50px;
   width: 45%;
  flex-grow: 30;
  margin-bottom: 5px;
  position: absolute;
  bottom: 40px;
  left: 290px;
  padding: -30%;
  background-color: none;
  border:  1px white;
}


.box_long25 {
   margin: :-50px;
   width: 45%;
  flex-grow: 30;
  margin-bottom: 5px;
  position: absolute;
  bottom: -220px;
  left: 290px;
  padding: -30%;
  background-color: none;
  border:  1px white;
}


.box_long2 {
  /* margin: :-50px; */
  /* left:50px; */
  margin-left: auto;
  margin-left: 450px;
  flex-grow: 30;
  width: 30%;
  /* height: 5%; */
  padding: 3.3%;
  justify-content: bottom;
  /* left:40px; */
  background-color: white;
  border: solid 1px blue;
}

.box_long28 {
  /* margin: :-50px; */
  /* left:50px; */
  margin-left: auto;
  margin-left: 450px;
  flex-grow: 30;
  width: 30%;
  /* height: 5%; */
  padding: 3.3%;
  justify-content: bottom;
  /* left:40px; */
  background-color: white;
  border: solid 1px blue;
}


.box_long028 {
  /* margin: :-50px; */
  /* left:50px; */
  margin-left: auto;
  margin-left: 450px;
  flex-grow: 30;
  width: 30%;
  /* height: 5%; */
  padding: 14.4%;
  justify-content: bottom;
  /* left:40px; */
  background-color: white;
  border: solid 3px lightgrey;
}
.box_long4 {
  /* margin: :-50px; */
  /* left:50px; */
  /* margin-left: auto; */
  /* margin-left: 450px; */
  flex-grow: 30;
  width: 129%;
  /* height: 5%; */
  padding: 4.3%;
  justify-content: bottom;
  /* left:40px; */
  background-color: white;
  border: solid 1px white;
}

.box_long5 {
  /* margin: :-50px; */
  /* left:50px; */
  margin-left: auto;
  margin-left: 450px;
  flex-grow: 30;
  width: 90%;
  /* height: 5%; */
  padding: 3.3%;
  justify-content: bottom;
  /* left:40px; */
  background-color: white;
  border: solid 1px blue;
}

.box_long8 {
  /* margin: :-50px; */
  /* left:50px; */
  /* margin-left: auto;
margin-bottom: : 450px; */
  position: absolute;
  color: blue;
  /* position: absolute; */
  bottom: -340px;
  right: 889px;
}

.box_long3 {
  /* margin: :-50px; */
  /* left:50px; */
  /* margin-left: auto;
margin-bottom: : 450px; */
  position: absolute;
  color: blue;
  /* position: absolute; */
  bottom: 10px;
  right: 90px;
}



.box_long19{
  /* margin: :-50px; */
  /* left:50px; */
  /* margin-left: auto;
margin-bottom: : 450px; */
  position: absolute;
  color: blue;
  /* position: absolute; */
  bottom: -209px;
  right: 180px;
}



.box_long019{
  /* margin: :-50px; */
  /* left:50px; */
  /* margin-left: auto;
margin-bottom: : 450px; */
  position: absolute;
  color: black;
  /* position: absolute; */
  bottom:369px;
  left: 349px;
}

.box_long109{
  /* margin: :-50px; */
  /* left:50px; */
  /* margin-left: auto;
margin-bottom: : 450px; */
  position: absolute;
  color: black;
  /* position: absolute; */
  bottom:439px;
  left: 349px;
}



.box_long0019{
  /* margin: :-50px; */
  /* left:50px; */
  /* margin-left: auto;
margin-bottom: : 450px; */
  position: absolute;
  color: blue;
  /* position: absolute; */
  bottom:400px;
  right: -101px;
}


.box_long0028 {
  /* margin: :-50px; */
  /* left:50px; */
  margin-left: auto;
  margin-left: 450px;
  flex-grow: 30;
  width: 30%;
  /* height: 5%; */
  padding: 1.4%;
  justify-content: bottom;
  /* left:40px; */
  background-color: white;
  border: solid 3px blue;
}

.box_long128 {
  /* margin: :-50px; */
  /* left:50px; */
  margin-left: auto;
  margin-left: 450px;
  flex-grow: 30;
  width: 50%;
  /* height: 5%; */
  padding: 1.4%;
  justify-content: bottom;
  /* left:40px; */
  /* background-color: white; */
  /* border:  3px white; */
}





/* tutorial points */
ul {
  list-style-type: none;
  /* margin: 0; */
  /* top: 180px; */
  margin-left: 11%;
  /* margin-top:9%; */
  padding: 0;
  letter-spacing: 0.2em;
  text-decoration: none;
  /* margin-bottom: 25px; */
}

a:link {
  color: lightgrey;
  text-decoration: none;
}

/* .active {
           background-color: white;
           color: grey;
        } */
li {
  /* border-bottom: 1px solid grey; */
  display: inline;
  text-decoration: none;
}

.topnav-right {
  float: right;
  margin-top: -2.9%;
  letter-spacing: 5px;
  color:black;
}

.li2 {
  display: inline;
  /*     margin: 10px 0; */
  margin-left: 110%;
  margin-top: 90px;
  padding: 1px;
  letter-spacing: 5px;
  /* top: 90px;
    left: 90px; */
}

.topleft9 {
  position: absolute;
  top: -8px;
  left: 30px;
  font-size: 18px;
  letter-spacing: 5px;
}

.topleft10 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
}

.center {
  margin: 80px;
  width: 59%;
  border: 3px solid lightgrey;
  padding: 90px;
}

.img{
  /* position: absolute; */
  top: 390px;
  left: 16px;
}

.center0 {
  flex-flow: right;
  margin: 200px;
  margin-left: 7%;
  position: absolute;
  width: 69%;
  right: -15%;
  border: 3px solid lightgrey;
  padding: 55px;
}

.center00 {
  flex-flow: right;
  margin: 200px;
  margin-left: 7%;
  position: absolute;
  width: 81%;
  left: -9%;
  border: 3px solid lightgrey;
  padding: 70px;
}


.center001 {
  /* float: top; */
  /* margin: -29%; */
  margin: -60%;
  width: 50%;
  border: 3px solid lightgrey;
  padding: 90px;

  /* }
.center001 section{
  left: 230px;
  margin-top:-4%;

} */
  /* .topleft07{
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 18px;
} */
  .topleft7 {
    position: absolute;
    top: 180px;
    left: 280px;
    font-size: 18px;
  }

  .topleft8 {
    position: absolute;
    top: 410px;
    left: 410px;
    font-size: 18px;
  }
